<div class='container mt-5'>
  <h3 class='font-weight-bold text-center'>Mike Heft's portfolio API</h3>
  <p class='text-center my-5'>
    Thank you for visiting this my portfolio's API.
  </p>
  <p class='text-center'>You can view my portfolio here <a href="<%= ENV['APP_URL'] %>">here</a></p>
</div>